{
  "Rules": 
  [
    {
      "MinLevel": "Trace",
      "WriteTo": "DroidStarter.Droid",
      "Name": "*"
    },
    {
      "MinLevel": "Debug",
      "WriteTo": "DroidStarter_Logcat",
      "Name": "*"
    }
  ],
  "Targets": 
  [
      {
        "Name": "DroidStarter.Droid",
        "Type": "File",
        "InternalStorage": "true",
        "Layout": "${date}|${level}|${application.version}|${device.id}|${userid}|${sourcefile}|${membername}|${sourcelinenumber}|${message}|${exception.message}|${exception.stacktrace}",
        "ArchiveAboveSize": 500000,
        "FileName": "ServiceTest.txt",
        "MaxArchiveFiles": 20
      },
      {
        "Name": "DroidStarter_Logcat",
        "Type": "Platform",
        "Layout": "${application.version}|${device.id}|${userid}|${sourcefile}|${membername}|${sourcelinenumber}|${message}|${exception.message}|${exception.stacktrace}"
      }
  ],
  "CustomLogFileName" : "DroidStarter.config"
}
